body {
  padding: 1rem 0;
  background-color: #f4ecd8;
}
h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #5b4636;
}
table {
  border-collapse: collapse;
  width: 70%;
  font-size: 1.5rem;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #5b4636;
  color: white
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: rgba(1, 1, 1, .1);}
tr:hover {background-color: rgba(1, 1, 1, .3);}
